// .header-toolbar-container {
//     height: 70px;
//     background-color: #FFFFFF;
//     box-shadow: 0px 3px 8px 0px #00000024;
//     padding-left: 24px;
//     padding-right: 24px;
//     padding-top: 12px;
//     padding-bottom: 12px;
    
// }
// .logo {
//     height: 16px;
// }
// .logo-container {
//     display: flex;
//     height: 100%;
//     align-items: center;
// }
// .header-toolbar {
//     height: 100%;
//     display: flex;
//     align-items: center;
// }
.header-title {
    // font-family: "Poppins";
    // height: 50vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // // padding-left: 16px;
    // // margin-left: 16px;
    // // border-left: 1px solid #0000001c;
    // font-weight: 200;
    // font-size: 20px;
    // color: #00259a;
    font-family: "Poppins";
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 50.52px;
    color: #00259a;
    // background-color: #e0fbfc;
    background: -webkit-linear-gradient(#430098, #00259a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}