<!-- <div class="header-toolbar-container">
    <div class="header-toolbar">
        <div class="logo-container">
            <img class="logo" src="../../../assets/Presidio-Logo-Blue.svg" />
        </div> -->
        <div class="header-title animate__animated animate__fadeInUp">Design Space</div>
    <!-- </div>
</div> -->