.component-card-container {
    height: 215px;
    width: 100%;
    border-radius: 14px;
    // box-shadow: 0px 0px 8px 0px #0000000d;
    cursor: pointer;
}
.component-card-light {
    background-color: #FFFFFF;
}
.component-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-top: 12px;
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 16px;
    min-height: 20px;
}
.component-card {
    display: block;
    min-width: 100px
}
.component-image {
    height: 60px;
    width: 60px;
    border: 1px solid #0000000a;
    border-radius: 50%;
    // background-color: #caf0f8;
    background: linear-gradient(#430098, #00259a);
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.component-details {
    flex: 0.5;
    // padding: 16px 24px;
}
.component-card-view {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.card-body {
    height: 100%;
    padding: 24px 24px;
}
.component-card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-top: 8px;
    font-weight: 300;
    // font-family: 'Poppins';
    font-size: 12px;
    min-height: 20px;
    opacity: 0.4;
    line-height: 18px;
}
.image {
    height: 32px;
}