<div class="component-card" (click)="onCardClick()">
    <nb-card class="component-card-container component-card-light">
        <nb-card-body class="card-body">
            <div  class="component-card-view">
                <div class="component-image">
                  <img class="image" src="{{icon}}"/>
                </div>
                <div class="component-details">
                  <div class="component-card-title">{{title}}</div>
                  <div class="component-card-description">{{description}}</div>
                </div>
            </div>
        </nb-card-body>
    </nb-card> 
</div>
