<div class="short-card" (click)="onCardClick()">
    <nb-card class="short-card-container" [ngClass]="{'short-card-dark': theme === 'dark','short-card-light':theme === 'light'}">
        <nb-card-body>
          <img class="short-card-image" src="../../../assets/brightness.svg" *ngIf="theme === 'dark'">
          <img class="short-card-image" src="../../../assets/idea.svg" *ngIf="theme === 'light'">
        </nb-card-body>
    </nb-card>
    <div class="short-card-title">{{title}}</div>
</div>
