.short-card-container {
    height: 100px;
    width: 100px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 0px #00000021;
    cursor: pointer;
}
.short-card-dark {
    background-color: #121212;
}
.short-card-light {
    background-color: #FFFFFF;
}
.short-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-align: center;
    margin-top: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 14px;
    min-height: 20px;
}
.short-card {
    display: block;
    max-width: 100px;
}
.short-card-image {
    height: 40px;
}