.component-page-header {
    display: flex;
}
.back-button {
    width: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    cursor: pointer;
}
.back-button:hover {
    opacity: 1;
}
.component-title-text {
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 500;
    margin-left: 16px;
}
.back-button-image {
    width: 20px;
}
.component-description {
    margin-top: 24px;
    margin-left: 36px;
    font-weight: 400;
    font-size: 14px;
    min-height: 20px;
    opacity: 0.5;
    line-height: 24px;
    margin-bottom: 24px;
}
.anatomy-container {
    margin-left: 36px;
}

.ml-36 {
    margin-left: 36px;
}
.installation-container {
    margin-top: 24px;
    margin-bottom: 50px;
}
.properties-container {
    margin-top: 24px;
    margin-bottom: 50px;
}
.installation-text-container {
    margin-top: 24px;
    margin-bottom: 24px;
}
.anatomy-image {
    max-width:100%;
    height: auto;
}
.component-usage-container {
    margin-top: 24px;
    margin-bottom: 50px;
}
.editor {
    padding-left: 16px;
    padding-right: 16px;
}
.preview {
    background-color: #fafbfe !important;
    height: 100%;
    width: 100%;
}
.marked-text {
    opacity: 0.7;
}
.module-text {
    color: #1a34b8;
}
.installation-editor {
    padding: 12px;
    // display: inline;
    border-radius: 4px;
}
.property-editor {
    padding: 8px;
    display: inline;
    border-radius: 4px;
}
.properties-detail-container {
    margin-top: 24px;
}
.properties-table {
    width: 100%;
}
.table-heading-cell {
    opacity: 0.3;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    padding-bottom: 12px;
    font-size: 14px;
}
.column-name {
    width: 25%;
}
.column-type {
    width: 25%;
}
.column-description {
    width: 50%;
}
.table-content-cell {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
}
.property-description {
    opacity: 0.6;
}
.render-component {
    margin-top: 50px;
    margin-bottom: 50px;
}