<div
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="medium"
  nbSpinnerMessage="Loading component"
>
  <div *ngIf="!loading">
    <div class="component-page-container animate__animated animate__fadeInUp">
      <div class="component-page-header animate__animated animate__fadeInUp">
        <div class="back-button" (click)="navigateToHome()">
          <img class="back-button-image" src="../../../assets/left-arrow.svg" />
        </div>
        <div class="component-title-text">{{ component }}</div>
      </div>
      <div class="component-description animate__animated animate__fadeInUp">
        {{ componentDetails[0].longDescription }}
      </div>
      <div class="render-component ml-36">
        <ndc-dynamic 
        [ndcDynamicComponent]='renderComponent'
        [ndcDynamicInputs]="componentDetails[0].renderProps"
        >
      </ndc-dynamic>
      </div>
      <div class="installation-container ml-36 animate__animated animate__fadeInUp">
        <div class="heading">Installation</div>
        <div class="installation-text-container">
          <div>
            <pre><code class="installation-editor" highlight="{{ componentDetails[0].module }}"></code></pre>
          </div>
        </div>
      </div>
      <div class="usage-container ml-36 animate__animated animate__fadeInUp">
        <div class="heading">Usage</div>
        <div class="component-usage-container">
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="HTML">
              <div class="editor">
                <pre><code [highlight]="htmlCode"></code></pre>
              </div>
            </mat-tab>
            <mat-tab label="CSS" *ngIf="stylingCode.length !== 0">
              <div class="editor">
                <pre><code [highlight]="stylingCode"></code></pre>
              </div>
            </mat-tab>
            <mat-tab label="TS">
              <div class="editor">
                <pre><code [highlight]="componentCode"></code></pre>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="properties-container ml-36 animate__animated animate__fadeInUp" *ngIf="componentDetails[0].properties.length !== 0">
        <div class="heading">Properties</div>
        <div class="properties-detail-container">
           <table class="properties-table">
               <thead>
                   <tr>
                       <td class="table-heading-cell column-name">Name</td>
                       <td class="table-heading-cell column-type">Type</td>
                       <td class="table-heading-cell column-description">Description</td>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let item of componentDetails[0].properties">
                    <td class="table-content-cell column-name ">{{item.name}}</td>
                    <td class="table-content-cell column-type">
                        <pre><code class="property-editor" highlight="{{ item.type }}"></code></pre>
                    </td>
                    <td class="table-content-cell column-description property-description">{{item.description}}</td>
                   </tr>
               </tbody>
           </table>
        </div>
      </div>
      <div class="interaction-container ml-36 animate__animated animate__fadeInUp">
        <div class="heading">Interactions</div>
        <div class="interaction">
          <div class="secondary-info-text">
            Coming soon!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
