<app-header-toolbar></app-header-toolbar>
<div class="design-space-layout">
  <div class="design-space-padding"></div>
  <div class="design-space-content">
    <router-outlet></router-outlet>
  </div>
  <div class="design-space-padding"></div>
</div>
<div class="bottom-padding"></div>