@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.heading {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
}
.secondary-info-text {
    font-size: 12px;
    font-family: 'Poppins';
    opacity: 0.4;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
}
.mat-tab-label {
  color: rgba($color: #000000, $alpha: 0.5) !important;
}
.mat-tab-labels {
  background: #ebeff5 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.mat-tab-body-content {
  background: #202746;
  min-height: 60px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #ebeff5;
}
.mat-tab-header {
  border-bottom: none !important;
}
code {
  font-size: 0.9em;
}
.mat-tab-header {
  margin: 0px -1px;
}
.mat-tab-body-wrapper {
  margin: 0px -1px;
}