<div
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="medium"
  nbSpinnerMessage="Loading assets"
>
  <div *ngIf="!loading">
    <div class="content-container animate__animated animate__fadeInUp">
      <div class="heading">Systems</div>
      <div class="systems-container" *ngIf="designSystems.length !== 0">
        <div class="short-card" *ngFor="let system of designSystems">
          <app-short-card
            [theme]="system.theme"
            [title]="system.title"
            [link]="system.link"
            (cardClick)="navigateTo($event)"
          >
          </app-short-card>
        </div>
      </div>
    </div>
    <div class="content-container animate__animated animate__fadeInUp">
      <div class="heading">Components</div>
      <div class="components-container" *ngIf="components.length !== 0">
        <mat-grid-list cols="4" gutterSize="24px" rowHeight="220px">
          <mat-grid-tile
            *ngFor="let component of components"
            [colspan]="1"
            [rowspan]="1"
          >
            <app-component-card
              class="light-border"
              [title]="component.title"
              [description]="component.description"
              [icon]="component.icon"
              (cardClick)="navigateToComponentPage($event)"
            >
            </app-component-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <div class="content-container animate__animated animate__fadeInUp">
      <div class="heading">Icons</div>
      <div class="icons-base-container" *ngIf="icons.length === 0">
        <div class="secondary-info-text">Coming soon!</div>
      </div>
    </div>

    <div class="content-container animate__animated animate__fadeInUp">
      <div class="heading">Knowledge Base</div>
      <div class="knowledge-base-container" *ngIf="knowledgeBase.length === 0">
        <div class="secondary-info-text">
          Coming soon!
        </div>
      </div>
    </div>
  </div>
</div>
