.content-container {
    margin-bottom: 50px;
}
.systems-container {
    margin-top: 24px;
    display: flex;
}
.short-card {
    margin-right: 24px;
}
.components-container {
    margin-top: 24px;
}
.components-card {
    margin-right: 24px;
}
.light-border {
    border: 1px solid #00000014;
    border-radius: 14px;
}
.light-border:hover {
    border: 1px solid #0000002e;
}